@charset "UTF-8";

*{
    font-family: "Helvetica", "Verdana";
    margin: 0;
    padding: 0;
}


h2 {
    margin-bottom: 1.6rem;
    text-align: center;
    color: #333;
}

#box-shadow-generator {
    display: flex;
    max-height: 1000px;
    margin: 0 auto;
}

#controls-container, #preview {
    flex: 1;
    padding: 2rem;
}

/* CONTROLES do Box */
.form-control {
    display: flex;
    padding-bottom: 1.2rem;
    margin-bottom: 1.2rem;
    border-bottom: 1px dashed #ccc;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 1rem;
    color: #555;
}

.range-input {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.range-input input[type="range"] {
    width: 100%;
    height: 24px;
    background-color: #D3D3D3;
    outline: none;
}

.range-input input[type="range"]::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    background-color: #e9d60a;
    cursor: pointer;
}

.range-input-quadrado {
    display: flex;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: #555;
    font-weight: bold;
}

.reference-input {
    display: flex;
    align-items: center;
}

.reference-input p {
    margin-left: 4px;
}

.form-control input[type="text"] {
    height: 30px;
    width: 30px;
    margin-left: 1rem;
    text-align: center;
}

/* Novas Funcionalidade */ 
#color-value {
    min-width: 100px;
}

#inset {
    align-self: start;
    height: 20px;
    width: 20px;
}

/* Preview */
#box {
    width: 100%;
    height: 300px;
    background-color: #e9d60a;
    box-shadow: rgb(0, 0, 0) 62px 82px 79px 3px;
    -webkit-box-shadow: rgb(0, 0, 0) 62px 82px 79px 3px;
    -moz-box-shadow: rgb(0, 0, 0) 62px 82px 79px 3px;
}

/* Área de Geração */
#generated-rule {
    text-align: center;
}

#generated-rule p {
    margin-bottom: .5rem;
}

#rules-area {
    background-color: #d3d3d3;
    max-width: 1000px;
    margin: 0 auto;
    border: 2px solid #e9d60a;
    transition: .4s;
    cursor: pointer;
}

#rules-area:hover {
    background-color: #DFDFDF;
}

#copy-instructions  {
    font-style: italic;
    margin-top: 1rem;
}




